@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700&display=swap");

/* html,
body {
    scroll-behavior: smooth;
} */

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(rgb(212 212 216), rgb(212 212 216));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}

.link-underline-zinc {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(rgb(255, 255, 255) rgb(233, 233, 233));
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(rgb(26, 26, 26), rgb(42, 42, 42));
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
}

.maincard {
    background: url("./../images/sparrow-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
